.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(15, 20, 30, 0.5), rgba(15, 20, 30, 0.7)),
    url(../../assets/hero.jpg);
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  max-width: 800px;
}

.hero-text h1 {
  font-size: 3.5rem;
}

.hero-text h3 {
  font-size: 2rem;
}
